.card {
  padding: 15px;
  font-size: 12px;
  width: 175px;
}

.bold {
  font-weight: bold;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}
.card--star {
  height: 14px;
}
.card--stats {
  padding: 2px;
  display: flex;
  align-items: center;
}

.gray{
  color:#918E9B
}
